{% extends "padre_admin.html" %}
{% load static %}
{% block contenido %}
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-5">
                              <span class="section-heading-lower">Alta Profesor</span>
                            </h2>
                            <form action="alta_profesor" method="POST">
                            {% csrf_token %}
                            <p>Nombre:
                            <input type="text" name="nombre" required>
                            </p><p>Camada:
                            <input type="number" name="camada" required>
                            </p><p>Nacimiento:
                            <input type="date" name="nacimiento" required>
                            </p><input type="submit" value="Enviar">
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}          
       