{% extends "padre_admin.html" %}
{% load static %}
{% block contenido %}
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-5">
                              <span class="section-heading-lower">Modificar la contraseña </span>
                             Usuario: {{ usuario }}</h2>
                            <form action=""  method="POST">
                                {% csrf_token %}
                       
                                <table>
                                    {{ miFormulario.as_table }}
                        
                                </table>
                        
                                <input type="submit" value="Enviar">
                        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}          
       