{% extends "padre_admin.html" %}
{% load static %}
{% block contenido %}
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-5">
                              <span class="section-heading-lower">Editar Profesor</span>
                            </h2>
                            <form action="{% url 'editar_profesor' profesor.id %}" method="POST">
                                {% csrf_token %}
                                <p>Nombre:
                                {{mi_formulario.nombre}}
                               </p>
                                <p>Camada:
                                {{mi_formulario.camada}}
                               </p>
                               <p>Nacimiento:
                                {{mi_formulario.nacimiento}}
                               </p>
                        
                                <input type="submit" value="Enviar">
                        
                        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}          
       